/* General Container Styles */
.homepro-container {
    padding: 20px;
  }
  
  /* Tabs Styles */
  .homepro-tabs .nav-link {
    color: black;
    font-weight: bold;
  }
  
  .homepro-tabs .nav-link.active {
    background-color: #e9ecef;
    color: black;
  }
  
  /* Right Side Button */
  .homepro-right-side {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Center align the button vertically */
  }
  
  /* Cards Sections */
  .homepro-cards-sections {
    margin-top: 20px;
  }
  
  .homepro-cards-sections .homepro-card {
    margin-bottom: 20px;
  }
  
  /* Modal Styles */
  .homepro-filter-options {
    padding: 10px;
  }
  
  .homepro-filter-options h5 {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
  }
  
  .homepro-filter-options .homepro-dropdown-button {
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .homepro-filter-options .homepro-dropdown-button:hover {
    background-color: #333;
  }
  
  /* Modal Button Styles */
  .homepro-modal-footer .btn-secondary {
    background-color: #6c757d; /* Grey color for the secondary button */
    border: none;
    color: white;
  }
  
  .homepro-modal-footer .btn-secondary:hover {
    background-color: #5a6268; /* Darker grey for hover effect */
  }
  
  .homepro-modal-footer .btn-dark {
    background-color: #000; /* Black color for the primary button */
    border: none;
    color: white;
  }
  
  .homepro-modal-footer .btn-dark:hover {
    background-color: #333; /* Darker shade for hover effect */
  }
  